doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bootstrap Advanced
        meta(name="description" content="")
        link(rel="stylesheet" type="text/css" href="styles/main.css")
    body.bg-gray.d-flex.justify-content-center.vh-100
        main.border-gray.border.border-1.rounded-4.container.m-4.bg-white
            div.row
                div.col-sm-12.col-lg-4.p-0.d-flex.flex-column
                    include ./pug/partials/header
                    include ./pug/partials/sidebar
                include ./pug/partials/chat