  
div.chat.col-sm-12.col-lg-8.container-xxl.order-3.d-none.d-lg-flex
    div.chat-scrsaver
        img(src="/app/img/avatar_1.jpg", alt="")
        p.contacts-name.fs-6.fw-bold Привет, Кодовёнок
        p.text-muted.contacts-status
            | Выбери чат, чтобы начать общаться