div.chat-current.col-12.col-lg-7.container-xxl.d-none.d-lg-flex
    div.chat-header.border-bottom
        div.chat-header-contact
            img.rounded-circle(src= "img/avatar_4.jpg",alt= "Вениамин Редакторович")
            div.contacts-data
                p.contacts-name.fs-6.fw-bold Вениамин Редакторович
                p.text-muted.contacts-status Онлайн
    div.chat-messages.scroll.overflow-auto
        div.chat-messages-incoming
            img.rounded-circle(src= "img/avatar_4.jpg",alt= "Вениамин Редакторович")
            div.chat-messages-data.chat-messages-incoming-bg.border-all.radius
                p.contacts-name.fs-6.fw-bold Вениамин Редакторович
                p.text-muted.chat-messages-incoming-text Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
                p.text-muted.chat-messages-incoming-time.border-top 8 минут назад
        div.chat-messages-outgoing
            img.rounded-circle(src= "img/avatar_1.jpg",alt= "Кодовёнок Хекслетович")
            div.chat-messages-data.chat-messages-outgoing-bg.border-all.radius
                p.chat-messages-outgoing-text Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
                p.chat-messages-outgoing-time.border-top 8 минут назад
        div.chat-messages-incoming
            img.rounded-circle(src= "img/avatar_4.jpg",alt= "Вениамин Редакторович")
            div.chat-messages-data.chat-messages-incoming-bg.border-all.radius
                p.contacts-name.fs-6.fw-bold Вениамин Редакторович
                p.text-muted.chat-messages-incoming-text Лады
                p.text-muted.chat-messages-incoming-time.border-top 5 минут назад
        div.chat-messages-outgoing
            img.rounded-circle(src= "img/avatar_1.jpg",alt= "Кодовёнок Хекслетович")
            div.chat-messages-data.chat-messages-outgoing-bg.border-all.radius
                p.chat-messages-outgoing-text А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
                p.chat-messages-outgoing-time.border-top 3 минуты назад
        div.chat-messages-incoming
            img.rounded-circle(src= "img/avatar_4.jpg",alt= "Вениамин Редакторович")
            div.chat-messages-data.chat-messages-incoming-bg.border-all.radius
                p.contacts-name.fs-6.fw-bold Вениамин Редакторович
                p.text-muted.chat-messages-incoming-text о_О
                p.text-muted.chat-messages-incoming-time.border-top Только что
    form.chat-input.border-top.d-flex
        input.chat-input-form(type="text" placeholder="Введите сообщение" aria-label="Введите сообщение")
        button.btn.btn-primary(type="submit").chat-input-button
            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor" viewBox="0 0 16 16")
                path(d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52z")