nav.navbar.bg-primary.radius-left-top-md
    div.container.text-light.p-0
        a.navbar-brand
            img.navbar-logo(src="img/icons/logo.svg", alt="")
        div.navigation
            ul.navbar-nav.flex-row(id="main-tab" role="tablist")
                li.nav-item.d-flex.d-md-none
                    button.nav-link(id="current-chat-btn" data-bs-toggle="pill" data-bs-target="#current-chat" type="button" role="tab" aria-controls="current-chat" aria-selected="false")
                        img(src="img/icons/chat-left-text.svg", alt="")
                li.nav-item.d-flex
                    button.nav-link.active(id="contacts-btn" data-bs-toggle="pill" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="true")
                        img(src="img/icons/people.svg", alt="")
                        div.navigation-text Контакты
                li.nav-item.d-flex
                    button.nav-link.nav-link(id="chats-btn" data-bs-toggle="pill" data-bs-target="#chats" type="button" role="tab" aria-controls="chats" aria-selected="false")
                        img(src="img/icons/chat.svg", alt="")
                        div.navigation-text Сообщения
                li.nav-item.d-flex
                    button.nav-link.nav-link(id="profile-btn" data-bs-toggle="pill" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false")
                        img(src="img/icons/person.svg", alt="")
                        div.navigation-text Профиль

                    