nav.navbar.bg-primary
    div.container.text-light.p-0
        a.navbar-brand
            img.navbar-logo(src="/app/img/icons/logo.svg", alt="")
        div.navigation
            ul.navbar-nav.flex-row(id="main-tab" role="tablist")
                li.nav-item.d-flex
                    button.nav-link(id="contacts-btn active" data-bs-toggle="pill" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false")
                        img(src="/app/img/icons/people.svg", alt="")
                        div.navigation-text Контакты
                li.nav-item.d-flex
                    button.nav-link.nav-link(id="chats-btn" data-bs-toggle="pill" data-bs-target="#chats" type="button" role="tab" aria-controls="chats" aria-selected="false")
                        img(src="/app/img/icons/chat.svg", alt="")
                        div.navigation-text Сообщения
                li.nav-item.d-flex
                    button.nav-link.nav-link(id="profile-btn" data-bs-toggle="pill" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false")
                        img(src="/app/img/icons/person.svg", alt="")
                        div.navigation-text Профиль

                    